//mystyle so
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Lato');
$darkblue-main: rgb(0,65,81);
$darkred-main: rgb(152,46,44);
$light-grey: rgb(250,250,250);

body {
	
	font-family: 'Lato', sans-serif;
	background-color: $light-grey;
}
h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
//HEADER
.top-header-menu, .top-bar-right {
	a {
		color: #fff;
		text-transform: uppercase;
		font-size: rem-calc(12);

	}
	& :hover, :focus, :active {
		color: #ccc;
		cursor: pointer;
	}
.top-bar-right {
	a {
		font-size: rem-calc(14);
	}
}
}
#masthead {
	background-color: $darkblue-main;
	border-bottom: 4px solid $darkred-main;
}
.top-bar {
	background-color: $darkblue-main;
	.menu {
		background-color: $darkblue-main;
	}
}
.top-bar-right {
	text-transform: uppercase;
}
#top-slider {
	background: url('http://placehold.it/2000x300') no-repeat center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;

	width: 100%;
	height: 0;
	padding-top: 15%;

	position: relative;
	z-index: -1;
}
//searchform
#searchform {
	padding-top: 0.7rem;
}
#searchsubmit, #s {
	height: 1.5rem;
	padding: 0.2rem;
}
//Content
.glob-container {
	@include grid-row();
}
.text-container {
	@include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
}
.bg-blue {
	background-color: $darkblue-main;
	border-color: $darkblue-main;
	color: #fff;

	position: relative;
}
.bg-white {
	background-color: $light-grey;
	border-color: $light-grey;
	color: #000;

	position: relative;
}
.bg-clear {
	margin-top: -3.7%;
	z-index: 100;
}
.bg-clear-bot {
	margin-bottom: -3.6%;
	z-index: 100;
}
.sec-img {
	background: url('http://placehold.it/2000x300') no-repeat center;

	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;

	width: 100%;
	height: 0;
	padding-top: 15%;

	position: relative;
	z-index: -1;

	// height: 300px;
	// background-size: cover;
	// margin-top: -3.6%;
}
#blue-triangle {
	background-color:#fff;
	//background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><linearGradient id='gradient'><stop offset='10%' stop-color='%23F00'/><stop offset='90%' stop-color='%23fcc'/> </linearGradient><rect fill='url(%23gradient)' x='0' y='0' width='100%' height='100%'/></svg>");
}
#footer-container {
	background-color: $darkblue-main;
	border-color: $darkblue-main;
	color: #fff;
	// background: $darkblue-main url('../images/uptriangledarkblue.png') no-repeat;
	// margin-top: 0;
	
}
.sep-down {
	position: absolute;
    width: 100%;
    background-color: inherit;
    border-color: inherit;
    z-index: 1;

    bottom: 0;
    &:before {
    	content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent;
		border-width: 32px 0 0 900px;
		border-width: 32px 0 0 50vw;
		border-left-width: 50vw;
		position: absolute;
		z-index: 9;

		border-top-color: inherit ;
		border-bottom-color: inherit;
		right: 49.99%;
		bottom: -32px;

		// -webkit-transform: rotateY(180deg);
		// transform: rotateY(180deg);
    }
    &:after {
    	content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent;
		border-width: 32px 0 0 900px;
		border-width: 34px 0 0 50vw;
		border-left-width: 50vw;
		position: absolute;
		z-index: 9;

		border-top-color: inherit;
		border-bottom-color: inherit;
		left: 50%;
		bottom: -32px;

		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
    }
}
.sep-top-down {
	position: absolute;
    width: 100%;
    background-color: inherit;
    border-color: inherit;
    z-index: 1;

    top: 0;
    &:before {
    	content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-color: inherit;
		border-width: 32px 0 0 900px;
		border-width: 32px 0 0 50vw;
		border-left-width: 50vw;
		position: absolute;
		z-index: 9;

		border-top-color: transparent ;
		border-bottom-color: transparent;
		right: 49.99%;
		top: -32px;

		// -webkit-transform: rotateY(180deg);
		// transform: rotateY(180deg);
    }
    &:after {
    	content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-color: inherit;
		border-width: 32px 0 0 900px;
		border-width: 32px 0 0 50vw;
		border-left-width: 50vw;
		position: absolute;
		z-index: 9;

		border-top-color: transparent;
		border-bottom-color: transparent;
		left: 50%;
		top: -32px;

		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
    }
}
.sep-up {
    position: absolute;
    width: 100%;
    background-color: inherit;
    border-color: inherit;
    z-index: 1;
	&:before {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-color: inherit;
		border-width: 32px 0 0 900px;
		border-width: 34px 0 0 50vw;
		border-left-width: 50vw;
		position: absolute;
		z-index: 9;

		border-top-color: transparent;
		border-bottom-color: transparent;
		left: 49.99%;
		top: -32px;
	}
	&:after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-color: inherit;
		border-width: 32px 0 0 900px;
		border-width: 34px 0 0 50vw;
		border-left-width: 50vw;
		position: absolute;
		z-index: 9;

		border-top-color: transparent;
		border-bottom-color: transparent;
		right: 49.99%;
		top: -32px;

		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
}
#footer {
	li {
		display: block;
		a {
			padding-left: 0;
		}
	}
	.project-logos {
		max-width: 80%;
		margin-bottom: 10px;
	}

}
#page-logo {
	padding: 0;
	width: 100px;
}
.home {
	
	img {

	}
}
//font-size: 1.4rem;

// snippet http://zurb.com/building-blocks/shrinking-sticky-navigation-menu-f6
// .header {

//   padding: 10rem 0;

//   background: url('http://placehold.it/2000x500&text=this is a header') center center no-repeat;

//   background-size: cover;

// }



// [data-sticky] {

//   width: 100%;

// }



// .top-bar {

//   padding: 2rem;

//   transition: padding .25s ease;

// }



// .is-stuck .top-bar {

//   padding: 1rem;

//   transition: padding .25s ease;

// }





