//mystyle so
$darkblue-main: rgb(0,65,81);
$darkred-main: rgb(152,46,44);
body {
	
}

h5 {
	text-transform: uppercase;
	font-weight: bold;
}
.top-header-menu, .top-bar-right {
	a {
		color: #fff;
		text-transform: uppercase;
		font-size: rem-calc(12);

	}
	& :hover, :focus, :active {
		color: #ccc;
		cursor: pointer;
	}
.top-bar-right {
	a {
		font-size: rem-calc(14);
	}
}
}
#masthead {
	background-color: $darkblue-main;
	border-bottom: 4px solid $darkred-main;
}
.top-bar {
	background-color: $darkblue-main;
	.menu {
		background-color: $darkblue-main;
	}
}
.top-bar-right {
	text-transform: uppercase;
}
#searchform {
	padding-top: 0.7rem;
}
#searchsubmit, #s {
	height: 1.5rem;
	padding: 0.2rem;
}
#footer-container {
	//background-color: $darkblue-main;
	background: $darkblue-main url('../images/uptriangledarkblue.png') no-repeat;
	color: #fff;
}
#footer {
	li {
		display: block;
		a {
			padding-left: 0;
		}
	}

}
//font-size: 1.4rem;

// snippet http://zurb.com/building-blocks/shrinking-sticky-navigation-menu-f6
// .header {

//   padding: 10rem 0;

//   background: url('http://placehold.it/2000x500&text=this is a header') center center no-repeat;

//   background-size: cover;

// }



// [data-sticky] {

//   width: 100%;

// }



// .top-bar {

//   padding: 2rem;

//   transition: padding .25s ease;

// }



// .is-stuck .top-bar {

//   padding: 1rem;

//   transition: padding .25s ease;

// }





